

#tot_sablon{
	opacity:0.7;
}
.panel-title{
	margin-top:2%;;
	margin-left:3%;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 5%;
	 word-wrap: break-word;
		
	font-family: "arial",
		"times new roman", "sans-serif";
	
	
}

.panel-content{
	text-indent: 50px;
	text-align: justify;
	padding: 2%;
	font-size:1em;
	color:black;
	margin-left: auto;
	margin-right: auto;
	float: left;
	margin-bottom: 10px;
	
}
#img1{
float: right;
margin:2%;
	width: 280px;
	

	
	
}
#rand_articol{
	background-color: white;
	opacity: 0.92
		;
	margin-bottom: 40px;
	border-radius: 10px;
	
	
}

	

.red {
	
	border-radius: 2px;
	border-style: dashed;
	border-color:blue;
	
}

.blue {
	background-clip: border-box;
	
}

body{
	
background-image: url("img/back.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:right top;
}
	

.active{
	background-color:#5cb85c;
	color:#5cb85c;
	opacity: 1;
	
	
	
}

.check{
	background-color: #2A2625;
	
}



