


#tot_sablon{
	opacity:0.7;
}
.panel-title{
	margin-top:2%;;
	margin-left:3%;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 5%;		
	font-family: "arial",
		"times new roman", "sans-serif";
	border-bottom: solid;
	border-bottom-width: 2px;
	padding-bottom: 20px;
	border-bottom-color:lightgrey;
	
	
	
	
	
}

.panel-content{
	text-indent: 50px;
	text-align: justify;
	font-size:1em;
	color:black;
	margin-left: auto;
	margin-right: auto;
	float: left;
	margin-bottom: 30px;
	
}

#rand_articol{
	background-color: white;
	opacity: 0.92
		;
	margin-bottom: 40px;
	border-radius: 10px;
	
	
}

	

.red {
	
	border-radius: 2px;
	border-style: dashed;
	border-color:blue;
	
}

.blue {
	background-clip: border-box;
	
}

body{
	
background-image: url("img/back.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:right top;
}
	
span{
	padding-right: 5px;
}




.check{
	background-color: #2A2625;
	
}




.navbar-brand:hover {
	font-weight: bold;	
}

li:hover{
	font-weight: bold;
};

.line {
	border-style: solid;
    border-width: 5px;	
}

h4 {

	border-bottom: solid;
	border-bottom-width: 2px;
	padding:1%;
	
	
	border-bottom-color:lightgrey;
	font-family: "times new roman";
	font-weight: 500;
	color:darkred;
	font-size: 18px;
	max-width: 600px;;
	
	
}



#img1 {
	float:right;
	margin:10px;
	
}


#img2 {
	float:right;
	margin:10px;
	clear:both;
	
}
.active:hover{
	font-weight: normal;
}


#test:hover{
	font-weight: normal;
}
input {
	text-align: center;
	margin: 5px;
	
}

/* pentru test */
#test{
	margin-top:20px;
}
/*input-text after verifying */

.corect{
	color:forestgreen;
	font-weight:bold;
	
}
.incorect{
	color:red;
	font-weight: bold;
}

/*input-border after verifying */

.corinp{
	border-color: forestgreen;
	border-width: 3px;
	
}
.incinp{
	border-width: 3px;
	
	border-color:red;
}


span.glyphicon-link {
    font-size: 1.2em;
}


.relizator {
	color:white;
	font-size:16px;
	text-align: center;
	
	padding-bottom: 10px;
	
}
