body{
	
	min-width: 200px;

	min-height:500px;
}
	.jumbotron{
	margin-top: 50px;
	height:500px;
}
	.jumbotron{
	margin-top: 50px;
	height:700px;
	background-image: url("img/1.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	
};

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1{

	margin-top:5%;
	

	
	color:BLACK;
	font-family:sans-serif;
	font-size: 6em;
	
}
.jumbotron p{
color:darkcyan;
font-size:	1.5em;
	font-weight: bold;
	

}








a:link{
	text-decoration: none;
	color:white;
}

a:visited{
	text-decoration: none;
	color:white;
}

section {
	margin-top:80px;
	
}




.linie {
	border-top: 5px;
	border-top-color: white;
	background-color: white;
	height: 4px;
	border-radius: 2px;
	
}


.relizator {
	color:darkslategrey;
	font-size:16px;
	text-align: center;
	
	font-family: sans-serif;
	font-weight: bold;

	padding: inherit;
	padding-top:1%;
	
	
	
	
}


.linie2 {
	width:100%;
	height:50px;
	background-color:lightgrey;
	border-top: 1.5px;
	
}
